.ragging {
  background-color: aquamarine;
  margin-top: 3em;
  padding: 0.5em 7%;
  padding-bottom: 2.5em;
  border-radius: 0 35% 0 35%;
}
.ragging h1 {
  margin-top: 2em;
  color: #ff0000;
}

.in-ragging {
  padding-left: 2%;
  margin-top: 1.5em;
}
.in-ragging div h2 {
  margin-top: 2.1em;
  font-size: x-large;
}
.in-ragging div p {
  margin-left: 1.1em;
  margin-top: 1em;
  font-size: 1.5em;
}
.imp {
  color: #ff0000;
}
ul {
  margin-left: 4%;
  margin-top: 1em;
  font-size: 1.2em;
}
ul li {
  margin-top: 0.5em;
}
a {
  font-size: 1.1em;
}
.div-3 {
  margin-left: auto;
  width: fit-content;
  font-size: 1.3em;
}
.div-3 table {
  width: fit-content;
  margin-top: 1em;
}
td {
  padding: 0.5em;
}

@media screen and (max-width: 900px) {
  .ragging {
    border-radius: 0 8em 0 8em;
  }
  .div-3 table {
    font-size: smaller;
  }
}
