.main-placements {
  padding: 0 3em;
  padding-top: 2em;
  background-color: rgb(255, 255, 240);
}

.menter-team {
  padding: 2em 0;
  margin: 5rem 0;
}
.menter-team table {
  margin-top: 2em;
  width: 75%;
}

table tr:nth-child(odd) {
  background-color: #f2f2f2;
}
