.main-placements {
  padding: 0 0em;
  padding-top: 2em;
  background-color: rgb(255, 255, 240);
}

.menter-team {
  padding: 4em 0;
  margin: auto;
  width: fit-content;
  text-align: center;
  font-size: larger;
}
.menter-team table {
  margin: auto;
  font-size: larger;
  padding: 2em 0;
}

table tr:nth-child(odd) {
  background-color: #f2f2f2;
}
